<form class="form-horizontal" #addUserForm="ngForm" (ngSubmit)="addUser()">

  <!-- Username-->
  <div class="form-group">
    <label class=" control-label" for="username">Username</label><span  *ngIf="username.errors?.required" style="color:red">*</span>
    <div class="col-md-4">
      <input id="username" pattern="^[a-zA-Z0-9_.]*$" #username="ngModel" [(ngModel)]=" userModel.username" name="username" placeholder="username" class="form-control input-md" required="" type="text">
    </div>
    <div *ngIf="username?.touched">
      
            <div class="text-danger" *ngIf="username.errors?.required"> name is required
            </div>
            <div class="text-danger" *ngIf="username.errors?.pattern"> invalid username
            </div>
          </div>
  </div>

  <!-- Password input-->
  <div class="form-group">
    <label class="control-label" for="password">Password</label> <span  *ngIf="password.errors?.required" style="color:red">*</span>
    <div class="col-md-4">
      <input id="password"pattern ="^[a-zA-Z0-9@-_. ]+$" #password="ngModel" [(ngModel)]=" userModel.password" name="password" placeholder="password" class="form-control input-md" required type="password">
    </div>
    <div *ngIf="password?.touched">
      
            <div class="text-danger" *ngIf="password.errors?.required"> name is required
            </div>
            <div class="text-danger" *ngIf="password.errors?.pattern"> password must contain alphabet symbol number
            </div>
          </div>
  </div>
  <!-- First Name-->
  <div class="form-group">
    <label class=" control-label" for="firstName">First name</label><span  *ngIf="firstName.errors?.required" style="color:red">*</span>
    <div class="col-md-4">
      <input id="firstName"  pattern="^[a-zA-Z]+$" #firstName="ngModel" [(ngModel)]=" userModel.firstName" name="firstName" placeholder="firstname" class="form-control input-md" required="" type="text">

    </div>
    <div *ngIf="firstName?.touched">
      
            <div class="text-danger" *ngIf="firstName.errors?.required"> name is required
            </div>
            <div class="text-danger" *ngIf="firstName.errors?.pattern"> invalid name
            </div>
          </div>
  </div>
  <!-- last Name-->
  <div class="form-group">
    <label class="control-label" for="lastName">Last name</label><span  *ngIf="lastName.errors?.required" style="color:red">*</span>
    <div class="col-md-4">
      <input id="lastName" pattern="^[a-zA-Z]+$" #lastName="ngModel" [(ngModel)]=" userModel.lastName" name="lastName" placeholder="lastname" class="form-control input-md" required="" type="text">

    </div>
    <div *ngIf="lastName?.touched">
      
            <div class="text-danger" *ngIf="lastName.errors?.required"> last name is required
            </div>
            <div class="text-danger" *ngIf="lastName.errors?.pattern"> invalid name
            </div>
          </div>
  </div>

  <!-- Email-->
  <div class="form-group">
    <label class=" control-label" for="email">Email</label><span  *ngIf="email.errors?.required" style="color:red">*</span>
    <div class="col-md-4">
      <input id="email" [(ngModel)]=" userModel.email" #email="ngModel"
      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" placeholder="email" 
      class="form-control input-md" required="" type="email">

    </div>
    <div *ngIf="email?.touched">
      
            <div class="text-danger" *ngIf="email.errors?.required"> email is required
            </div>
            <div class="text-danger" *ngIf="email.errors?.pattern"> invalid email
            </div>
          </div>
  </div>

  <!-- Address-->
  <div class="form-group">
    <label class=" control-label" for="address">Address</label><span  *ngIf="address.errors?.required" style="color:red">*</span>
    <div class="col-md-4">
      <input id="address" pattern="^[a-zA-Z]+$" [(ngModel)]=" userModel.address" #address="ngModel"  name="address" placeholder="address" class="form-control input-md" required="" type="text">

    </div>
    <div *ngIf="address?.touched">
      
            <div class="text-danger" *ngIf="address.errors?.required"> address is required
            </div>
            <div class="text-danger" *ngIf="address.errors?.pattern"> invalid address
            </div>
          </div>
  </div>

  <!-- Phone-->
  <div class="form-group">
    <label class=" control-label" for="phone">Phone no.</label><span  *ngIf="phone.errors?.required" style="color:red">*</span>
    <div class="col-md-4">
      <input id="phone" [(ngModel)]=" userModel.phone" #phone="ngModel" name="phone" placeholder="0123456789" class="form-control input-md" required  pattern="^[0-9]+$" type="telephone">
    </div>
    <div *ngIf="phone?.touched">
      
            <div class="text-danger" *ngIf="phone.errors?.required"> name is required
            </div>
            <div class="text-danger" *ngIf="phone.errors?.pattern"> invalid phone
            </div>
          </div>
  </div>

  <!-- Government Id-->
  <div class="form-group">
    <label class=" control-label" for="governmentId">Government Id</label> <span  *ngIf="governmentId.errors?.required" style="color:red">*</span>
    <div class="col-md-4">
      <input id="governmentId" #governmentId="ngModel" [(ngModel)]=" userModel.governmentId" name="governmentId" placeholder="government No" class="form-control input-md" required="" type="text">
    </div>
    <div *ngIf="governmentId?.touched">
      
            <div class="text-danger" *ngIf="governmentId.errors?.required"> name is required
            </div>
            <div class="text-danger" *ngIf="governmentId.errors?.pattern"> invalid name
            </div>
          </div>
  </div>
  
    <!-- Role-->
    <div class="form-group">
      <label class="control-label" for="role">Role</label> <span  *ngIf="role.errors?.required" style="color:red">*</span>
      <div class="col-md-4">
        <select id="role" #role="ngModel" class="form-control" name="role" required [(ngModel)]="userModel.role" >
          <option  >Admin</option>
          <option  >User</option>
        </select>
        </div>
       
    </div>

     <!-- Profile  Photo-->
  <div class="form-group">
    <label class=" control-label" for="profilePhoto">Photo</label> <span  *ngIf="profilePhoto.errors?.required" style="color:red">*</span>
    <div class="col-md-4">
       <input type="file" id="profilePhoto" #profilePhoto="ngModel" (change)="onFileChange($event)"  [(ngModel)]=" userModel.profilePhoto" name="profilePhoto" required class="form-control input-md">
    </div>
    
  </div>

  <!-- buttons -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="submitBtn"></label>
    <div class="col-md-8">
      <button id="submitBtn" name="submitBtn"  [disabled]="addUserForm.invalid" class="btn btn-success">Submit</button>
      <button id="cancelBtn" name="cancelBtn" class="btn btn-danger">Cancel</button>
    </div>
  </div>


</form>